$tablet-breakpoint: 1024px;
$mobile-breakpoint: 768px;
$green: #00872f;
$gray: #eee;
$section-box-shadow: 0 0 10px;

$content-section-bg: #fff;
$content-section-highlight-txt: #08a953;

#app {
  width: 100%;
  margin: 0 auto;
}

.content-section {
  margin-bottom: 15px;
  background-color: $content-section-bg;
  box-shadow: $section-box-shadow;
}

@media only screen and (max-width: $mobile-breakpoint) {
  #app {
    max-width: $tablet-breakpoint;
  }
  .mobile-hidden {
    display: none !important;
  }
}

@media only screen and (min-width: $mobile-breakpoint) {
  #app {
    max-width: $tablet-breakpoint;
  }

  .mobile-only {
    display: none !important;
  }
}
@media only screen and (min-width: $tablet-breakpoint) {
  #app {
    max-width: 100%;
  }
  .mobile-only {
    display: none !important;
  }
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(38, 38, 38);
  height: 100%;
  width: 100%;
  margin: 0;
}

.btn {
  border-radius: 25px;
  padding: 12px 10px;
  border: none;
  outline: none;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
}
