<template>
  <div class="autocomplete">
    <div class="search-box">
      <input
        type="text"
        placeholder="What are you looking for?"
        @input="onChange"
        v-model="search"
        @keydown.enter="onEnter"
      />
      <img
        class="search-icon"
        src="../assets/img/icons/black/ic_search.png"
        alt="search icon"
        @click="onEnter"
      />
    </div>
    <div v-show="isOpen" class="autocomplete-results">
      <ul>
        <li class="loading" v-if="isLoading">Loading results...</li>
        <li
          v-else
          v-for="(result, i) in results"
          :key="i"
          @click="setResult(result)"
          class="autocomplete-result"
          :class="{ 'is-active': i === arrowCounter }"
        >
          {{ result }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "AutoComplete",
  props: {
    items: {
      type: Array,
      required: false,
      default: () => [],
    },
    isAsync: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      isOpen: false,
      results: [],
      search: "",
      isLoading: false,
      arrowCounter: 0,
    };
  },
  mounted() {
    document.addEventListener("click", this.handleClickOutside);
  },
  destroyed() {
    document.removeEventListener("click", this.handleClickOutside);
  },
  methods: {
    onChange() {
      this.$emit("input", this.search);

      if (this.isAsync) {
        this.isLoading = true;
      } else {
        this.filterResults();
        this.isOpen = true;
      }
    },
    filterResults() {
      this.results = this.items.filter((item) => {
        return item.toLowerCase().indexOf(this.search.toLowerCase()) > -1;
      });
    },
    setResult(result) {
      this.search = result;
      alert(this.search);
      this.isOpen = false;
    },
    onEnter() {
      alert(this.search);
      this.isOpen = false;
    },
    handleClickOutside(evt) {
      if (!this.$el.contains(evt.target)) {
        this.isOpen = false;
      }
    },
  },
  watch: {
    items: function (val, oldValue) {
      if (val.length !== oldValue.length) {
        this.results = val;
        this.isLoading = false;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.autocomplete {
  position: relative;
  margin: auto;
  width: 100%;
  padding: 20px 10px 10px 10px;
  border-radius: 3px;
  max-height: 80px;

  .search-box {
    display: flex;
    width: 100%;
    padding: 15px 0 15px 15px;
    border-radius: 3px;
    border: none;
    background: #fff;

    input {
      width: 100%;
      border: none;

      &:focus {
        outline: none;
      }
    }

    .search-icon {
      padding-right: 18px;

      &:hover {
        cursor: pointer;
      }
    }
  }
  .autocomplete-results {
    position: absolute;
    padding: 0;
    margin: 0;
    max-height: 120px;
    overflow: auto;
    width: calc(100% - 20px);
    background: white;
    z-index: 2;
    ul {
      margin: 0;
      padding: 0;
    }
    .autocomplete-result {
      list-style: none;
      text-align: left;
      padding: 5px 15px;
      cursor: pointer;
      border-top: 1px solid gray;
    }
    .autocomplete-result.is-active,
    .autocomplete-result:hover {
      background-color: #4aae9b;
      color: white;
    }
  }
}
</style>
