<template>
  <div class="categories-container">
    <ul class="categories-list">
      <li
        v-for="(category, index) in categories"
        :key="index"
        :class="category.class ? category.class : 'list-item'"
        @click="category.onClick"
      >
        <div class="category-details-container">
          <div class="category-icon-container">
            <img
              class="category-icon"
              :src="category.src"
              :class="category.tabletSrc ? 'mobile-only' : ''"
              alt=""
            />
            <img
              v-if="category.tabletSrc"
              class="category-icon mobile-hidden"
              :src="category.tabletSrc"
              alt=""
            />
          </div>
          <span class="category-text">
            {{ category.text }}
          </span>
        </div>
        <div class="arrow-container mobile-only">
          <img
            class="arrow-icon"
            src="../assets/img/icons/black/ic_arrow_forward.png"
            alt="Click Here"
          />
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "CategoriesSection",
  data() {
    return {
      categories: [
        {
          text: "Shop all categories",
          src: require("../assets/img/icons/black/ic_categories.png"),
          class: "all-categories",
          onClick: () => alert("Shop all categories"),
        },
        {
          text: "My Catalog",
          src: require("../assets/img/icons/black/ic_playlist_add_check.png"),
          onClick: () => alert("My Catalog"),
        },
        {
          text: "My List",
          src: require("../assets/img/icons/black/ic_list.png"),
          onClick: () => alert("My List"),
        },
        {
          text: "Live Help",
          src: require("../assets/img/icons/green/ic_chat - active.png"),
          tabletSrc: require("../assets/img/icons/black/ic_chat.png"),
          onClick: () => alert("Live Help"),
        },
        {
          text: "PIM",
          src: require("../assets/img/icons/black/ic_check_circle.png"),
          onClick: () => alert("PIM"),
        },
        {
          text: "Account",
          src: require("../assets/img/icons/white/ic_person.png"),
          class: "list-item inverted-colors",
          onClick: () => alert("Account"),
        },
        {
          text: "Branch Locations",
          src: require("../assets/img/icons/black/ic_place.png"),
          onClick: () => alert("Branch Locations"),
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/theme.scss";

.categories-container {
  background: #fff;
  font-weight: 500;

  .categories-list {
    list-style-type: none;
    margin: 0;
    padding: 0 0 13px 0;

    .all-categories {
      padding: 25px 30px;
      font-size: 20px;
      white-space: nowrap;
      cursor: pointer;

      .category-text {
        font-weight: bold;
      }
    }

    li.inverted-colors {
      img.category-icon {
        filter: grayscale(1) invert(1);
      }
    }

    .category-details-container {
      display: inline-block;
      background-color: #fff;
      max-width: 90%;
      width: 100%;
    }

    .list-item {
      white-space: nowrap;
      padding: 12px 20px;
      font-size: 14px;
      border-top: 1px solid #ccc;
      margin: 0 10px;
      cursor: pointer;
    }
  }

  .category-text {
    vertical-align: middle;
    display: inline-block;
  }

  .category-icon-container {
    width: 20px;
    display: inline-block;
    margin-right: 8px;
    text-align: center;

    .category-icon {
      vertical-align: middle;
      display: inline-block;
    }
  }

  .arrow-container {
    max-width: 10%;
    width: 100%;
    text-align: right;
    display: inline-block;

    .arrow-icon {
      vertical-align: middle;
    }
  }

  @media only screen and (min-width: $mobile-breakpoint) {
    .category-details-container {
      max-width: 100%;
    }

    .categories-list {
      text-align: center;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 0;

      .list-item {
        margin: 0;
        width: 33.3333333%;
        border: 1px solid #ccc;
      }
    }

    .all-categories {
      text-align: center;
      padding: 15px;
      width: 100%;
      border: none;
    }
  }
}
</style>
