<template>
  <div class="info-sections-container">
    <div
      class="content-section info-section"
      v-for="(item, index) in info"
      :key="index"
      @click="getMoreInfo(item.text)"
    >
      <div class="image-container">
        <img :src="item.src" />
      </div>
      <div class="info-text">
        {{ item.text }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "InfoSections",
  data() {
    return {
      info: [
        {
          src: require("../assets/img/super-tool-day.png"),
          text: "Super Tool Day & Dynamic Data Day",
        },
        {
          src: require("../assets/img/ic_location_b.png"),
          text: "Branch Locations",
        },
        {
          src: require("../assets/img/ic_helpcenter.png"),
          text: "Help Center",
        },
        {
          src: require("../assets/img/ic_platt-u.png"),
          text: "Platt University",
        },
      ],
    };
  },
  methods: {
    getMoreInfo(text) {
      alert(`Get more info about ${text}`);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/theme.scss";

.info-sections-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.info-section {
  display: inline-block;
  width: 48%;
  text-align: center;
  padding: 20px 15px;
  min-height: 175px;
  position: relative;
  cursor: pointer;

  .info-text {
    font-weight: 700;
    display: flex;
    min-height: 45px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
  }
}

@media only screen and (min-width: $mobile-breakpoint) {
  .info-section {
    width: 21%;
    min-height: 180px;
  }
}
</style>
