<template>
  <div class="mobile-features-container">
    <div
      class="mobile-feature"
      v-for="(feature, index) in features"
      :key="index"
    >
      <button class="mobile-feature-button" @click="alert(feature.text)">
        <img :src="feature.src" alt="Click Me" />
      </button>
      <div class="feature-text">{{ feature.text }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "MobileFeatures",
  data() {
    return {
      features: [
        {
          text: "Categories",
          src: require("../assets/img/icons/green/ic_line_style.png"),
        },
        {
          text: "Search",
          src: require("../assets/img/icons/green/ic_search.png"),
        },
        {
          text: "Scan",
          src: require("../assets/img/icons/green/ic_scanner.png"),
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/theme.scss";

.mobile-features-container {
  display: flex;
  margin: 0 auto;
  white-space: nowrap;
  text-align: center;
  padding: 20px;
  justify-content: space-between;
}

.mobile-feature {
  display: inline-block;

  $icon-container-circle: 65px;
  $border-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.4);
  .mobile-feature-button {
    background-color: white;
    border-radius: 100%;
    width: $icon-container-circle;
    height: $icon-container-circle;
    margin: 0 auto;
    border: 1px solid #ccc;
    display: inline-block;
    text-align: center;
    outline: none;
    -webkit-box-shadow: $border-shadow;
    -moz-box-shadow: $border-shadow;
    box-shadow: $border-shadow;
    cursor: pointer;

    img {
      vertical-align: middle;
    }
  }

  .feature-text {
    display: block;
    margin-top: 6px;
    font-size: 14px;
  }
}
</style>
