<template>
  <div class="platt-plus-container">
    <img src="../assets/img/platt-plus.png" alt="Platt Plus" />
    <div class="platt-plus-description">
      <h2>Get Started Today</h2>
      <h3 class="platt-plus-details">
        Become a <span class="green-text">Platt Plus</span> Member.
      </h3>
      <button class="btn learn-more" @click="learnMore">Learn More</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Platt-Plus",
  data() {},
  methods: {
    learnMore() {
      alert("Learn More");
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/theme.scss";

.platt-plus-container {
  text-align: center;
  padding: 30px 10px 40px;
  box-shadow: $section-box-shadow;
  .platt-plus-description {
    text-align: center;
    width: 50%;
    margin: auto;
    h2 {
      margin-bottom: 0;
    }
    .platt-plus-details {
      margin-top: 3px;
      margin-bottom: 15px;
    }

    .green-text {
      color: $green;
    }

    .learn-more {
      background-color: $gray;
      font-size: 16px;
      max-width: 230px;
      border-radius: 25px;
      padding: 12px 10px;
      border: none;
      outline: none;
      width: 100%;
      cursor: pointer;
    }
  }

  @media only screen and (min-width: $mobile-breakpoint) {
    .learn-more {
      font-size: 16px;
      max-width: 230px;
    }
  }
}
</style>
