<template>
  <div class="product-markets-container">
    <h2>Product Markets</h2>
    <div class="market-boxes-container">
      <div
        class="market-box"
        v-for="(market, index) in markets"
        :key="index"
        @click="viewMarket(market.text)"
      >
        <div class="image-container">
          <img :src="market.src" />
        </div>
        <div class="market-text">
          {{ market.text }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProductMarkets",
  data() {
    return {
      markets: [
        {
          src: require("../assets/img/datacomm.png"),
          text: "DataComm",
        },
        {
          src: require("../assets/img/hvac.png"),
          text: "HVAC",
        },
        {
          src: require("../assets/img/industrial.png"),
          text: "Industrial",
        },
        {
          src: require("../assets/img/lighting.png"),
          text: "Lighting",
        },
        {
          src: require("../assets/img/energy.png"),
          text: "Energy Efficiency",
        },
        {
          src: require("../assets/img/utility.png"),
          text: "Utility",
        },
      ],
    };
  },
  methods: {
    viewMarket(text) {
      alert(`Go to ${text}`);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/theme.scss";

.product-markets-container {
  margin-bottom: 10px;

  h2 {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
  }
  .market-boxes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
}

.market-box {
  display: inline-block;
  min-height: 170px;
  position: relative;
  cursor: pointer;
  background: #fff;
  box-shadow: $section-box-shadow;
  width: 15%;
  text-align: center;
  padding: 0 0 20px;

  .image-container {
    img {
      min-height: 85px;
      width: 100%;
    }
  }

  .market-text {
    display: flex;
    min-height: 45px;
    font-weight: 700;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
</style>
