<template>
  <div class="recently-viewed-container">
    <h4 class="recent-view-header">
      Recently viewed <span class="view-all" @click="viewAll">View all</span>
    </h4>
    <div class="recently-viewed-images">
      <div
        class="recently-viewed-image-container"
        v-for="(recent, index) in recentlyViewed"
        :key="index"
      >
        <img :src="recent.src" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "RecentlyViewed",
  data() {
    return {
      recentlyViewed: [
        {
          src: require("../assets/img/recent/11.png"),
        },
        {
          src: require("../assets/img/recent/22.png"),
        },
        {
          src: require("../assets/img/recent/22.png"),
        },
      ],
    };
  },
  methods: {
    viewAll() {
      alert("View All");
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/theme.scss";

.recently-viewed-container {
  padding: 10px 15px;

  .recent-view-header {
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;
  }

  .recently-viewed-images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .recently-viewed-image-container {
    display: inline-block;
    text-align: center;
    width: 30%;
  }

  img {
    max-width: 100%;
  }

  .view-all {
    float: right;
    color: $green;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
</style>
