<template>
  <div class="content-container">
    <categories-section></categories-section>
    <mobile-features class="mobile-only"> </mobile-features>
    <div class="mobile-only today-deal">
      <img
        src="../assets/img/deal.png"
        alt="Today's Deals"
        @click="viewDeals"
      />
    </div>
    <product-markets class="mobile-hidden"> </product-markets>
    <platt-plus class="content-section"> </platt-plus>
    <div class="recent-container">
      <img
        class="content-section mobile-hidden"
        src="../assets/img/deal.png"
        alt="Today's Deals"
      />
      <recently-viewed class="content-section recently-viewed-component">
      </recently-viewed>
    </div>
    <info-sections> </info-sections>
    <apps-banner class="content-section"> </apps-banner>
  </div>
</template>

<script>
import CategoriesSection from "../components/CategoriesSection";
import MobileFeatures from "../components/MobileFeatures";
import ProductMarkets from "../components/ProductMarkets";
import PlattPlus from "../components/PlattPlus";
import AppsBanner from "../components/AppsBanner";
import RecentlyViewed from "@/components/Recently-Viewed";
import InfoSections from "@/components/InfoSections";

export default {
  name: "Body",
  components: {
    InfoSections,
    CategoriesSection,
    MobileFeatures,
    ProductMarkets,
    PlattPlus,
    RecentlyViewed,
    AppsBanner,
  },
  methods: {
    viewDeals() {
      alert("View Deals");
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/theme.scss";

.content-container {
  padding: 0 8px 5px;
  height: 100%;
  max-width: $tablet-breakpoint;
  margin: auto;
}
.today-deal {
  text-align: center;
  margin-bottom: 10px;
  img {
    box-shadow: $section-box-shadow;
    width: 100%;
    cursor: pointer;
  }
}

@media only screen and (min-width: $mobile-breakpoint) {
  .content-container {
    padding: 0 15px 5px;
  }

  .recent-container {
    display: flex;
    justify-content: space-between;

    img {
      width: 49%;
    }

    .recently-viewed-component {
      width: 49%;
    }
  }
}
</style>
