<template>
  <div class="header">
    <div class="top-row">
      <img class="logo" src="../assets/img/logo.png" alt="Platt logo" />
      <ul class="nav-items">
        <li v-for="(item, index) in navItems" :key="index">
          <img :src="getImgSrc(item)" :alt="`${item} icon`" />
          <span
            v-show="notification && item === 'person'"
            class="yellow-bubble"
          >
          </span>
        </li>
      </ul>
    </div>
    <AutoComplete :items="options" />
  </div>
</template>

<script>
import AutoComplete from "../components/AutoComplete";

export default {
  name: "Header",
  components: {
    AutoComplete,
  },
  data() {
    return {
      notification: true,
      navItems: ["search", "shopping_cart", "person", "menu"],
      options: [],
    };
  },
  async created() {
    await this.getData();
  },
  methods: {
    getImgSrc(item) {
      return require(`../assets/img/icons/white/ic_${item}.png`);
    },
    getData: async function () {
      let resp = await (await fetch("https://dog.ceo/api/breeds/list")).json();
      this.options = resp.message;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/theme.scss";

.header {
  display: flex;
  flex-direction: column;
  background-color: $green;
  padding: 15px;
  width: 100%;

  .top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .nav-items {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;

      ul {
        list-style: none;
      }

      li {
        display: inline-block;
        margin: 0 10px;
        position: relative;
        cursor: pointer;
        img {
          height: 20px;
          max-width: 23px;
        }
      }

      .yellow-bubble {
        position: absolute;
        background-color: #ffbe00;
        border-radius: 100%;
        width: 4px;
        height: 4px;
        top: -4px;
        right: -4px;
      }
    }
  }
}
</style>
